{{#partial "contenido"}}
    <div class="alert alert-success text-center" role="alert">
        <h1>¡Exito!</h1>
        <h3>El registro ha sido exitoso</h3>
    </div>
    <a href="javascript:window.history.back();">Volver</a>

{{/partial}}
{{> templates/base}}