<li class="nav-item">
    <a class="nav-link active py-0" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link  py-0" href="/preguntasFrecuentes" target="_self">Preguntas Frecuentes</a>
</li>