<div class="d-flex justify-content-center align-items-center titulo">
    <h1 class="">¡Bienvenido!</h1>
    <h2 class="">Por favor, seleccioná lo que desees hacer:</h2>
</div>
<div class="list-group lista-opciones">
    <a href="/mapa" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Consultar mapa</h3>
            <i class="bi bi-map icono-lista px-3"></i>
        </div>
    </a>
    <a href="/reporte/fallas" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Reportar arreglo</h3>
            <i class="bi bi-exclamation-triangle icono-lista px-3"></i>
        </div>
    </a>
    <a href="/reporte/semanal" class="list-group-item list-group-item-action elemento-lista"
       aria-current="true">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Ver reportes</h3>
            <i class="bi bi-file-earmark-excel icono-lista px-3"></i>
        </div>
    </a>
</div>