{{#block "links-header"}}
    <link rel="stylesheet" href="/css/accionSobreHeladera.css">
{{/block}}

{{#partial "contenido"}}
    <div class="container container-formulario  align-items-center">
        <div class="row justify-content-center mb-5">
            <h1 class="text-center pt-4 fw-bolder">¿Estas seguro de que querés dar de baja una heladera?</h1>
        </div>
        <div hx-ext="path-params" class="row justify-content-center align-items-center contenedor-principal m-auto">
            <form id="surveyForm" class=" d-flex align-items-center justify-content-center"
                  hx-post="/darDeBaja/heladera/{idHeladera}"
                  hx-target="#modals-alert"
                  hx-vals='js:{"idHeladera": document.getElementById("heladerasDisponibles").value}'>
                <div class="row">
                    <div class="container-sm col-sm">
                        <label for="heladerasDisponibles" class="form-label p-2 fs-3">Heladeras disponibles</label>
                        <select id="heladerasDisponibles" name="heladeraId" class="form-select"
                                aria-label="Seleccione una heladera"
                                required>
                            <option selected>Seleccioná una opción</option>
                            <option value="1">UTN Medrano</option>
                            {{#each heladeras}}
                                <option value="{{this.id}}">{{this.puntoEstrategico.nombre}}</option>
                            {{/each}}
                        </select>

                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit"
                                    class="btn btn-danger btn-lng boton-confirmacion">
                                Confirmar
                            </button>
                        </div>
                    </div>

                    <div class="container-sm col-sm">
                        <div class=" card justify-content-center m-2">
                            <h5 class="card-header text-center p-2">¿Estás seguro de que quieres dar de baja esta
                                heladera?</h5>
                            <div class="row justify-content-center align-items-center">
                                <div class="col d-flex justify-content-center align-items-center form-check check-confirmacion py-4">
                                    <input class="form-check-input" type="radio" name="confirmation" id="yesOption"
                                           value="Si"
                                           required>
                                    <label class="form-check-label px-2" for="yesOption">
                                        Sí
                                    </label>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center form-check check-confirmacion py-4">
                                    <input class="form-check-input" type="radio" name="confirmation" id="noOption"
                                           value="No"
                                           required>
                                    <label class="form-check-label px-2" for="noOption">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <i class="bi bi-exclamation-triangle-fill  me-4"></i>
                                <div>
                                    Al dar de baja a la heladera ya no podra acceder a ella
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="modals-alert"
         class="modal modal-blur fade"
         style="display: none"
         aria-hidden="false"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script>
        document.body.addEventListener('htmx:beforeSwap', function (evt) {
            if (evt.detail.xhr.status === 409 || evt.detail.xhr.status === 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    </script>

    <script>
        document.addEventListener('htmx:afterSwap', function (event) {
            if (event.detail.target.id === 'modals-alert') {
                var modal = new bootstrap.Modal(document.getElementById('modals-alert'), {});
                modal.show();
            }
        });
    </script>

{{/partial}}

{{#partial "header-izquierdo"}}
    <li class="nav-item">
        <a class="nav-link active py-0" href="/homeColabJuridico">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  py-0" href="/preguntasFrecuentes" target="_self">Preguntas Frecuentes</a>
    </li>
{{/partial}}

{{#block "header-derecho"}}
    {{> templates/partials/headerUsuario }}
{{/block}}

{{> templates/base}}