<div class="d-flex justify-content-center align-items-center titulo">
    <h1 class="">¡Bienvenido!</h1>
    <h2 class="">Por favor, seleccioná lo que desees hacer:</h2>
</div>
<div class="list-group lista-opciones">
    <a href="/colaborador/contribuir" class="list-group-item list-group-item-action elemento-lista"
       aria-current="true">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Nueva contribución</h3>
            <i class="bi bi-plus-lg icono-lista px-3"></i>
        </div>
    </a>
    <a href="/catalogo" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Billetera de puntos</h3>
            <i class="bi bi-wallet2 icono-lista px-3"></i>
        </div>

    </a>
    <a href="/mapa" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Consultar mapa</h3>
            <i class="bi bi-map icono-lista px-3"></i>
        </div>
    </a>
    <a href="/accion/heladera" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Consulta sobre mis heladeras</h3>
            <svg class="svg-lista" fill="#ffffff" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px"
                 viewBox="-18.36 -18.36 648.72 648.72" xml:space="preserve"
                 transform="rotate(0)matrix(-1, 0, 0, 1, 0, 0)" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#000000"
                   stroke-width="42.839999999999996"> <g> <rect x="162.562" y="583.312" width="95.625"
                                                                height="28.688"></rect>
                    <rect x="353.812" y="583.312" width="95.625" height="28.688"></rect>
                    <path d="M162.562,191.25h286.875c21.124,0,38.25-17.126,38.25-38.25V38.25c0-21.124-17.126-38.25-38.25-38.25H162.562 c-21.124,0-38.25,17.126-38.25,38.25V153C124.312,174.124,141.439,191.25,162.562,191.25z M162.562,57.375 c0-5.278,4.284-9.562,9.562-9.562s9.562,4.284,9.562,9.562v66.938c0,5.278-4.284,9.562-9.562,9.562s-9.562-4.284-9.562-9.562 V57.375z"></path>
                    <path d="M162.562,564.188h286.875c21.124,0,38.25-17.127,38.25-38.25v-267.75c0-21.124-17.126-38.25-38.25-38.25H162.562 c-21.124,0-38.25,17.126-38.25,38.25v267.75C124.312,547.061,141.439,564.188,162.562,564.188z M162.562,258.188 c0-5.278,4.284-9.562,9.562-9.562s9.562,4.284,9.562,9.562v66.938c0,5.278-4.284,9.562-9.562,9.562s-9.562-4.284-9.562-9.562 V258.188z"></path> </g> </g>
                <g id="SVGRepo_iconCarrier"> <g> <rect x="162.562" y="583.312" width="95.625"
                                                       height="28.688"></rect>
                    <rect x="353.812" y="583.312" width="95.625" height="28.688"></rect>
                    <path d="M162.562,191.25h286.875c21.124,0,38.25-17.126,38.25-38.25V38.25c0-21.124-17.126-38.25-38.25-38.25H162.562 c-21.124,0-38.25,17.126-38.25,38.25V153C124.312,174.124,141.439,191.25,162.562,191.25z M162.562,57.375 c0-5.278,4.284-9.562,9.562-9.562s9.562,4.284,9.562,9.562v66.938c0,5.278-4.284,9.562-9.562,9.562s-9.562-4.284-9.562-9.562 V57.375z"></path>
                    <path d="M162.562,564.188h286.875c21.124,0,38.25-17.127,38.25-38.25v-267.75c0-21.124-17.126-38.25-38.25-38.25H162.562 c-21.124,0-38.25,17.126-38.25,38.25v267.75C124.312,547.061,141.439,564.188,162.562,564.188z M162.562,258.188 c0-5.278,4.284-9.562,9.562-9.562s9.562,4.284,9.562,9.562v66.938c0,5.278-4.284,9.562-9.562,9.562s-9.562-4.284-9.562-9.562 V258.188z"></path> </g> </g></svg>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Próximamente</h3>
            <i class="bi bi-three-dots icono-lista px-3"></i>
        </div>
    </a>
</div>
