{{#block "links-header"}}
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
{{/block}}

{{#partial "contenido"}}
    <h1 class="text-center m-3" id="quienesSomos"> ¡Bienvenido!</h1>
    <div class="container container-presentacion justify-content-center align-items-center mt-5 ">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img height="250em" class="" src="/img/iconos/marca.png">
            </div>

            <div class="container col-md-8">
                <div class="text-center">

                    <div class="card my-5 mx-2">
                        <h5 class="text-center card-title m-0 py-2"><strong> ¿Quiénes somos?</strong></h5>
                        <div class="container-texto text-center align-items-center  card-body ">
                            <p>
                                <strong>Viandas de Esperanza</strong> tiene como propósito <strong>brindar apoyo
                                alimentario</strong> a personas en situación vulnerable, asegurando que quienes más
                                lo necesitan reciban <strong>viandas nutritivas y de calidad</strong>. A través de
                                la <em>colaboración comunitaria</em> y la <em>responsabilidad social</em>, buscamos
                                <strong>combatir el hambre</strong> y mejorar las condiciones de vida de aquellos
                                que se encuentran en situaciones de riesgo, promoviendo la
                                <mark>dignidad</mark>
                                y el
                                <mark>bienestar</mark>
                                en nuestras comunidades.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-center card-header-register mt-5 py-2"><strong> Encontrá nuestras heladeras solidarias en el
        mapa</strong></h5>

    <div class="container-texto text-center align-items-center">
        <p class="p-4">
            En <strong>Viandas de Esperanza</strong>, estamos comprometidos con <strong>brindar acceso gratuito a
            viandas
            nutritivas</strong> para quienes más lo necesitan. Nuestras <strong>heladeras solidarias</strong>
            están distribuidas estratégicamente en diferentes puntos de la comunidad, y puedes retirar viandas
            simplemente utilizando tu <em>cuenta personal</em> en nuestra plataforma. Accede a nuestro <strong>mapa
            interactivo</strong> donde encontrarás marcados todos los puntos donde puedes encontrar nuestras
            heladeras solidarias.
        </p>

        <div class="container text-center align-items-center">
            <h5 class="text-center card-header-register py-2">
                <strong>Encontrá nuestras heladeras solidarias en el mapa</strong>
            </h5>
            <div id="map" class="mx-auto"></div>
        </div>
        <h5 class="text-center card-header-register mt-5 py-4"><strong> ¡Sumate!</strong></h5>
        <div class="container-texto text-center align-items-center">
            <p class="p-4">
                En <strong>Viandas de Esperanza</strong>, creemos en el poder de la <strong>colaboración</strong> para
                crear
                un
                <strong>impacto positivo</strong> en nuestras comunidades. Agradecemos profundamente todos los aportes
                que nos ayudan a llevar adelante nuestra misión. <strong>Cada forma de colaboración es valiosa</strong>
                y hace posible que continuemos trabajando para mejorar la vida de quienes enfrentan situaciones
                difíciles. ¡<strong>Juntos podemos lograr un cambio significativo</strong>!<a> Aprendé
                más sobre cómo colaborar abajo...</a>
            </p>
        </div>

        <div class="container container-texto  align-items-center" id="quieroContribuir">
            <div class="row justify-content-center mb-2">
                <form class="text-center seleccion mt-5 mb-5">
                    <div class="col-sm">
                        <a
                                class="btn btn-sm boton p-5"
                                href="/signup/colaborador/humano">
                            Colaborar como persona humana
                            <i class="bi bi-person-add"></i>
                        </a>
                        <p class="mb-1">⮞ Hacer una o más contribuciones económicas.</p>
                        <p class="mb-1">⮞ Donar una o más viandas.</p>
                        <p class="mb-1">⮞ Distribuir viandas.
                        </p>
                    </div>
                    <div class="col-sm">
                        <a
                                class="btn btn-sm boton p-5"
                                href="/signup/colaborador/juridico">
                            Colaborar como persona jurídica
                            <i class="bi bi-building-add"></i>
                        </a>
                        <p class="mb-1">⮞ Hacerte cargo de una heladera.</p>
                        <p class="mb-1">⮞ Hacer una o más contribuciones económicas.
                        </p>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

        <script>
            // Esta lista se renderiza con Handlebars
            const locations = [
                {{#each locations}}
                    {lat: {{this.direccion.latitud}}, lng: {{this.direccion.longitud}}, name: "{{this.nombre}}"},
                {{/each}}
            ];

            function initMap() {
                let centerLat, centerLng;

                if (locations.length > 0) {
                    centerLat = locations[0].lat;
                    centerLng = locations[0].lng;
                } else {
                    centerLat = -34.603722;
                    centerLng = -58.381592;
                }

                const map = L.map('map').setView([centerLat, centerLng], 10);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);


                if (locations.length > 0) {
                    locations.forEach(location => {
                        L.marker([location.lat, location.lng])
                                .addTo(map)
                                .bindPopup(`<b>${location.name}</b>`);
                    });
                }
            }

            window.onload = initMap;
        </script>
    </div>
{{/partial}}

{{#partial "header-izquierdo"}}
        <li><a class="nav-link active py-0 ms-2" href="#quienesSomos">¿Quienes somos?</a></li>
        <li><a class="nav-link active py-0 ms-2" href="#quieroContribuir">¡Quiero contribuir!</a></li>
{{/partial}}

{{#partial "header-derecho"}}
        <a class="btn" href="/login" role="button">
            <b class="nav-inicio-sesion fs-5">Iniciar sesión</b>
            <i class="bi bi-person-circle fs-3"></i>
        </a>
{{/partial}}

{{> templates/base}}