<div class="d-flex justify-content-center align-items-center titulo">
    <h1 class="">¡Bienvenido!</h1>
    <h2 class="">Por favor, seleccioná lo que desees hacer:</h2>
</div>
<div class="list-group lista-opciones">

    <a href="/colaborador/contribuir" class="list-group-item list-group-item-action elemento-lista" aria-current="true">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Nueva contribución</h3>
            <i class="bi bi-plus-lg icono-lista px-3"></i>
        </div>
    </a>
    <a href="/catalogo" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Billetera de puntos</h3>
            <i class="bi bi-wallet2 icono-lista px-3"></i>
        </div>

    </a>
    <a href="/suscribir/heladera" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Consultar mapa</h3>
            <i class="bi bi-map icono-lista px-3"></i>
        </div>
    </a>
    <a href="/reporte/fallas" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Reportar falla</h3>
            <i class="bi bi-exclamation-triangle icono-lista px-3"></i>
        </div>
    </a>
    <a href="/accion/solicitarApertura" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Solicitar apertura</h3>
            <i class="bi bi-door-open-fill icono-lista px-3"></i>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action elemento-lista">
        <div class="d-flex justify-content-between">
            <h3 class="mb-1 align-self-center">Próximamente</h3>
            <i class="bi bi-three-dots icono-lista px-3"></i>
        </div>
    </a>
</div>