<div class="modal-dialog modal-dialog-centered modal-lg modal-error">
    <div class="modal-content modal modal-error-content">
        <div class="modal-header">
            <h5 class="modal-title">¡Excelente!</h5>
        </div>
        <div class="modal-body">
            <p>{{successMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalButton">Cerrar</button>
        </div>
    </div>
</div>

<script>
    document.getElementById('closeModalButton').addEventListener('click', function() {
        var modal = bootstrap.Modal.getInstance(document.getElementById('modals-alert'));
        modal.hide();
    });
</script>